<template>
  <div>
      <b-container class="p-5">
          <b-row>
              <b-col cols="12" md="6">
                  <post></post>
              </b-col>
          </b-row>
      </b-container>
  </div>
</template>

<script>
import Post from './components/Post.vue'

export default {
  name: 'App',
  components: {
      Post
  }
}
</script>

<style>

</style>
