<template>
    <div class="comment my-2">
        <div class="comment-content">{{ comment.content }}
            <span
                v-if="$store.state.user.id === comment.user_id"
                :id="`popover-menu-${comment.id}`"
            >
                <b-icon
                    animation="fade"
                    class="text-dark pt-1"
                    font-scale="1.4"
                    icon="chevron-down"
                ></b-icon>
            </span>
            <b-popover :target="`popover-menu-${comment.id}`" placement="bottom" triggers="hover focus">
                <b-list-group>
                    <b-list-group-item button @click="editComment(comment)">Редактировать</b-list-group-item>
<!--                    <b-list-group-item button @click="$store.dispatch('delComment', comment)">Удалить-->
                    <b-list-group-item button @click="$bvModal.show(`modal-${comment.id}`)">Удалить
                    </b-list-group-item>
                </b-list-group>
            </b-popover>
            <b-modal
                :id="`modal-${comment.id}`"
                title="Удаление"
                hide-footer
                hide-header
            >
                <p class="text-danger text-center font-weight-bold">Вы уверены, что хотите удалить комментарий?</p>
                <p class="text-center">{{comment.content}}</p>
                <div class="d-flex justify-content-end mt-4">
                    <b-button size="sm" class="mx-2 w-25" variant="danger" @click="$store.dispatch('delComment', comment);$bvModal.hide(`modal-${comment.id}`)">Да</b-button>
                    <b-button size="sm" class="mx-2 w-25" variant="outline-secondary" @click="$bvModal.hide(`modal-${comment.id}`)">Нет</b-button>
                </div>
            </b-modal>
        </div>
        <div class="d-flex align-items-center text-secondary">
                <b-avatar
                    class="mt-1"
                    size="1.5rem"
                    icon="person-fill"
                    :src="comment.avatar"
                ></b-avatar>
            <div class="mx-2 comment-author">
                {{ comment.author }}
            </div>
            <div class="mx-2 comment-date font-italic">
                {{ formatDate(comment.updated_at) }}
            </div>
        </div>

    </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
    name: "Comment",
    props: ['comment'],
    data() {
        return {}
    },
    mounted() {
        //
    },
    methods: {
        ...mapActions('delComment', ['delComment']),
        formatDate(date) {
            let dateParsed = Date.parse(date)
            return new Intl.DateTimeFormat('ru-RU', {day: 'numeric', month: 'long',}).format(dateParsed)
        },
        editComment(comment){
            this.$emit('editComment', comment);
        }
    }
}
</script>

<style lang="scss" scoped>
.comment {
    .comment-content {

    }

    .comment-author {
        font-size: smaller;
    }

    .comment-date {
        font-size: smaller;
    }
}

</style>
