<template>
  <div>
    <b-card :title="post.title">
      <b-card-text>
        {{ post.content }}
      </b-card-text>
      <b-card-text>
        <b-form-input
          ref="commentInput"
          v-model="currentComment"
          placeholder="Написать комментарий"
          @focus="showActions = true"
          @keyup.enter="currentComment.length > 0 ? saveComment() : null"
          @keyup.esc="showActions = false; currentComment =''"
        />
      </b-card-text>
      <div v-show="showActions">
        <b-button
          :variant="currentComment.length > 0 ? 'primary' : 'secondary'"
          @click="saveComment()"
        >Сохранить
        </b-button>
        <b-button
          variant="outline-dark"
          @click="showActions = false; currentComment =''"
        >Отмена
        </b-button>
      </div>
      <div class="mt-4">
        <b-card-text v-for="(comment) in orderedComments" :key="comment.id">
          <comment :comment="comment" @editComment="editComment"/>
        </b-card-text>
      </div>
    </b-card>
  </div>
</template>

<script>

import {mapGetters, mapActions} from 'vuex'
import Comment from './Comment'

export default {
  name: 'Post',
  components: {
    Comment
  },
  data() {
    return {
      showActions: false,
      currentComment: '',
      commentEditing: false,
      editedComment: {},
    }
  },
  mounted() {
    this.getComments()
  },
  computed: {
    ...mapGetters({
      post: 'post',
      comments: 'comments',
      user: 'user',
    }),
    orderedComments: function () {
      return _.orderBy(this.comments, 'updated_at', 'desc')
    },
  },
  methods: {
    ...mapActions({
      getComments: 'getComments',
      storeComment: 'storeComment',
      updateComment: 'updateComment',
    }),
    saveComment() {
      if (this.commentEditing) {
        this.editedComment.content = this.currentComment
        this.updateComment(this.editedComment)
      } else {
        this.storeComment({
          user_id: this.user.id,
          author: this.user.name,
          content: this.currentComment,
        })
      }
      this.currentComment = ''
    },
    editComment(comment) {
      this.commentEditing = true
      this.editedComment = comment
      this.currentComment = this.editedComment.content
      this.$refs.commentInput.focus()
    },
  }
}
</script>
